# Saved models
/saved*
*.pth

.idea/
*.pyc
*.log
log_tensorboard/*
saved/
*.lprof
*.egg-info/
docs/

recbole/config/
recbole/data/
recbole/dataset_example/
recbole/properties/
recbole/quick_start/
recbole/sampler/
recbole/trainer/
recbole/utils/
recbole/model/context_aware_recommender/
recbole/model/exlib_recommender/
recbole/model/general_recommender/
recbole/model/knowledge_aware_recommender/
run_example/
tests/
dataset/
hyper.test